:root {
    --primary-light-hsl: 200, 100%, 91%;
    --primary-hsl: 200, 100%, 50%;
    --primary-dark-hsl: 200, 100%, 6%;
    --success-hsl: 100, 60%, 50%;
    --error-hsl: 0, 60%, 50%;
  }
  
body{
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500; 
    background: linear-gradient(275deg, #ca3513, #1c8aa3);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

ul{
    list-style: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.22);
}

.nav-bar{
   display: flex;
}

.item-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.item-list li{
padding: 10px;
background: rgba(255, 255, 255, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.popup{
    margin: 70px auto;
    padding: 20px;
    background-color: red;
    border-radius: 5px;
    width: 30%;
    position: relative;
}

button{
    padding: 0.5em 1em;
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    background-color: hsl(var(--primary-dark-hsl), 0.25);
    border: 1px solid hsl(var(--primary-hsl));
    border-radius: 0.25em;
    outline: none;
    cursor: pointer;
    width: 100%;
}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 76%}
    50%{background-position:100% 25%}
    100%{background-position:0% 76%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 76%}
    50%{background-position:100% 25%}
    100%{background-position:0% 76%}
}
@keyframes AnimationName {
    0%{background-position:0% 76%}
    50%{background-position:100% 25%}
    100%{background-position:0% 76%}
}
